@model MiniProject.Models.Dictionary

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete❌</h1>
<hr />

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordDefinition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordDefinition)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </form>
</div>
