@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <h1> Dictionary Application📘</h1>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="https://media.istockphoto.com/id/1041619316/vector/dictionary-day-october-16.jpg?s=612x612&w=0&k=20&c=-IOVxMH_a9NBwVldweIyso_mLa8cZzmGPsc0jD0Squg=" class="d-block w-50" alt="1">
                       
                    </div>
                    </div>

                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="https://media.istockphoto.com/id/1260329165/vector/english-grammar-examination-tiny-characters-correct-mistakes-and-errors-in-test-written-on.jpg?s=612x612&w=0&k=20&c=sNcC7HW-7ns2cwv0B1iOoHkLKmi9baMXxVSh-hQvokw=" class="d-block w-75" alt="2">
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="https://wallpapers.com/images/high/dictionary-thick-book-7lv43w7g0b2ekapt.jpg" class="d-block w-75" alt="3">
                    </div>
                    </div>
                </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    
