@{
    ViewData["Title"] = "Privacy Policy";
}
<br/>
<h1>@ViewData["Title"]🔏</h1>
<h5> I have agreed and accepted user agreement and privacy policy.</h5>

<img src="https://media.istockphoto.com/id/871068034/photo/cyber-security-businessman-using-tablet-technology-and-icon-customer-network-connection-and.jpg?s=612x612&w=0&k=20&c=KUUuzAENEyw_SnL8Qynm7mOfvrYtEhiP4w9_FJxdJDs=" />
<br/>
