<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <div>
        
        @RenderBody()
    </div>
    @if (IsSectionDefined("scripts")) {
        @RenderSection("scripts", required: false)
    }
    <script></script>
</body>
</html>
 
